:root {
	--primary: #00A651;
	--secondary: #212529;
	--primary-hover: #037239;
	--primary-dark: #006641;
	--rgba-primary-1: rgba(0, 166, 81, 0.1);
	--rgba-primary-2: rgba(0, 166, 81, 0.2);
	--rgba-primary-3: rgba(0, 166, 81, 0.3);
	--rgba-primary-4: rgba(0, 166, 81, 0.4);
	--rgba-primary-5: rgba(0, 166, 81, 0.5);
	--rgba-primary-6: rgba(0, 166, 81, 0.6);
	--rgba-primary-7: rgba(0, 166, 81, 0.7);
	--rgba-primary-8: rgba(0, 166, 81, 0.8);
	--rgba-primary-9: rgba(0, 166, 81, 0.9);
	--title: #212529;
}